<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kavivanar|Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
    <title>NOLAApp</title>
  </head>

  <body>
    <header class="header">
		<h1 class="logo"><a href="/">NOLA</a></h1>
      <ul class="main-nav">
        <% if(!currentUser) { %>
          <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
          <li><a href="/register"><i class="fas fa-user-plus"></i> Sign Up</a></li>
        <% } else { %>
          <li><p>Welcome <%= currentUser.username %></p></li>
          <li class="bar"><a href="/bars"><i class="fas fa-glass-martini"></i> Bars</a></li>
          <li class="restaurant"><a href="/restaurants"><i class="fas fa-utensils"></i> Restaurants</a></li>
          <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        <% } %>
      </ul>
	  </header>

    <div class="container">
