<%- include('../../partials/header') %>
<div class="jumbotron">
  <h2 class="form-display">How do you feel about <%= bar.name %>?</h2>
  <form action="/bars/<%= bar._id %>/comments" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" name="comment[text]" placeholder="Comment">
      <br>

    </div>
    <button type="submit" class="btn btn-primary">Submit your Comment</button>
  </form>
</div>

<%- include('../../partials/footer') %>
