<%- include('partials/header') %>
<header class="header-display">Bars</header>
<div class="wrapper">
  <% bars.forEach((bar) => { %>
    <div class="option">
      <a href="#">
        <img src="<%= bar.image %>" class="img-thumbnail">
      </a>
      <div class="caption">
        <h4><%= bar.name %></h4>
      </div>
    </div>
  <% }) %>
</div>
<%- include('partials/footer') %>
