<%- include('partials/header') %>
<header class="jumbotron">
  <div class="container">
    <h2>Bars</h2>
    <p><a class="btn btn-primary btn-large" href="/bar/new">Add a bar</a></p>
  </div>
</header>
<div class="row text-center">
  <% bars.forEach((bar) => { %>
    <div class="col-md-3 col-sm-6">
      <a href="#">
        <img src="<%= bar.image %>" class="img-thumbnail">
      </a>
      <div class="caption">
        <h4><%= bar.name %></h4>
      </div>
    </div>
  <% }) %>
</div>

<%- include('partials/footer') %>
