<%- include('partials/header') %>
<p><a href="/">Home</a> | <a href="/restaurants">Restaurants</a> | Bars</p>

<h2>Bars</h2>
<p><a href="/bar/new">Add a bar</a></p>
<% bars.forEach((bar) => { %>
    <h4><%= bar.name %></h4>
    <img src="<%= bar.image %>">
<% }) %>
<%- include('partials/footer') %>
