<%- include('partials/header') %>
  <div>
    <header class="header-display">Welcome to New Orleans baby!</header>
  </div>
  <div class="wrapper">
    <div class="option">
      <img src="http://www.eatdrinktravel.com/wp-content/uploads/2013/12/collage-6.jpg" alt="Drink Collage">
      <p><a href="/bars">Where to Drink</a></p>
    </div>
    <div class="option">
      <img src="https://www.theconstantrambler.com/wp-content/uploads/2014/09/Louisiana-Cuisine-Collage-.jpg" alt="Food Collage">
      <p><a href="/restaurants">Where to Eat</a></p>
    </div>
    <div class="option">
      <img src="https://cdn.vox-cdn.com/thumbor/GE0T4ANRInllINj3_FUYyfqJ65s=/161x0:785x468/1200x900/filters:focal(161x0:785x468)/cdn.vox-cdn.com/uploads/chorus_image/image/48052469/hotel_18.0.jpg" alt="Hotel Collage">
      <p><a href="#">Where to Stay</a></p>
    </div>

  </div>
<%- include('partials/footer') %>
