<%- include('partials/header') %>
  <h1>Welcome to New Orleans baby!</h1>
  <p><a href="/restaurants">Check out the city's finest restaurants</a></p>
  <p><a href="/bars">Live it up at the bar!</a></p>
<%- include('partials/footer') %>
