<%- include('partials/header') %>
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to New Orleans baby!</h1>
    </div>
  </header>
  <p><a href="/restaurants">Check out the city's finest restaurants</a></p>
  <p><a href="/bars">Live it up at the bar!</a></p>
<%- include('partials/footer') %>
