<%- include('partials/header') %>
  <header class="jumbotron">
    <div class="container">
      <h1 class="header-display">Welcome to New Orleans baby!</h1>
    </div>
  </header>
<%- include('partials/footer') %>
