<%- include('partials/header') %>
<h2>Add a Restaurant</h2>
<br>
<form action="/new_restaurant" method="POST">
  <input type="text" name="newrestaurant" placeholder="Restaurant name">
  <button>Add a restaurant</button>
</form>
<%- include('partials/footer') %>
