<%- include('partials/header') %>
<p><a href="/">Home</a> | <a href="/restaurants">Restaurants</a> | <a href="/bars">Bars</a></p>
<h2>Add a Bar</h2>
<form action="/bars" method="POST">
  <input type="text" name="name" placeholder="Bar name">
  <input type="text" name="image" placeholder="Image URL">
  <button>Add a bar</button>
</form>
<%- include('partials/footer') %>
