<%- include('partials/header') %>
<p><a href="/">Home</a> | <a href="/restaurants">Restaurants</a> | <a href="/bars"></a>Bars</p>
<h2>Add a Restaurant</h2>
<form action="/restaurants" method="POST">
  <input type="text" name="name" placeholder="Restaurant name">
  <input type="text" name="image" placeholder="Image URL">
  <button>Add a restaurant</button>
</form>
<%- include('partials/footer') %>
