<%- include('partials/header') %>
<div class="jumbotron">
  <h2 class="form-display">Add a bar</h2>
  <form action="/bars" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="Bar name">
      <br>
      <input type="text" class="form-control" name="image" placeholder="Image URL">
      <br>
      <input type="text" class="form-control" name="description" placeholder="Description">
    </div>
    <button type="submit" class="btn btn-primary">Add a bar</button>
  </form>
</div>
<%- include('partials/footer') %>
