<style>
  body {
    font-family: sans-serif;
  }
</style>

<h2>Restaurants</h2>

<% restaurants.forEach((restaurant) => { %>
    <h4><%= restaurant.name %></h4>
    <img src="<%= restaurant.image %>">
<% }) %>

<p><a href="/">Back</a></p>
