<style>
  body {
    font-family: sans-serif;
  }
</style>

<h2>Restaurants</h2>

<ul>
  <% restaurants.forEach((restaurant) => { %>
    <li><%= restaurant.name %></li>
  <% }) %>
</ul>

<p><a href="/">Back</a></p>
