<%- include('partials/header') %>
<header class="header-display">Restaurants</header>
<div class="wrapper">
  <% restaurants.forEach((restaurant) => { %>
    <div class="option">
      <a href="#">
        <img src="<%= restaurant.image %>" class="img-thumbnail">
      </a>
      <div class="caption">
        <h4><%= restaurant.name %></h4>
      </div>
    </div>
  <% }) %>
</div>
<%- include('partials/footer') %>
