<%- include('partials/header') %>
<header class="jumbotron">
  <div class="container">
    <h2>Restaurants</h2>
    <p><a href="/">Home</a> | Restaurants | <a href="/bars">Bars</a></p>
    <p><a class="btn btn-primary btn-large" href="/restaurant/new">Add a restaurant</a></p>
  </div>
</header>
<div class="row text-center">
  <% restaurants.forEach((restaurant) => { %>
    <div class="col-md-3 col-sm-6">
      <a href="#">
        <img src="<%= restaurant.image %>" class="img-thumbnail">
      </a>
      <div class="caption">
        <h4><%= restaurant.name %></h4>
      </div>
    </div>
  <% }) %>
</div>
<%- include('partials/footer') %>
