<%- include('partials/header') %>
<p><a href="/">Home</a> | Restaurants | <a href="/bars">Bars</a></p>

<h2>Restaurants</h2>
<p><a href="/restaurant/new">Add a restaurant</a></p>
<% restaurants.forEach((restaurant) => { %>
    <h4><%= restaurant.name %></h4>
    <img src="<%= restaurant.image %>">
<% }) %>

<p><a href="/">Back</a></p>
<%- include('partials/footer') %>
