body {
  background-color: pink;
  color: white;
}

/* New Navbar */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
  font-family: 'Kavivanar', cursive;
}

.main-nav {
	margin-top: 5px;
  font-family: 'Kavivanar', cursive;
}
.logo a,
.main-nav a, .main-nav p {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav li {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 0;
}


/* =================================
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

#signin {
  background-color: red;
  flex: 1;
}

#signin h3 {
  color: green;
  text-align: center;
}

#signup {
  background-color: blue;
  flex: 1;
}

#index {
  display: flex;
  jusify-content: flex-end;
  padding: .25em;
}

#index > label {
    padding: .5em 1em .5em 0;
    flex: 1;
}

#index > input {
    flex: 2;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.jumbotron {
  background-color: purple;
  border-radius: 0;
}

.header-display {
  font-family: 'Poiret One', cursive;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

.form-display {
  font-family: 'Poiret One', cursive;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

footer, h4, .navbar, .btn, .form-control {
  font-family: 'Kavivanar', cursive;
}

.btn-primary {
  background-color: #FFD700;
  border-color: #FFD700;
}

.btn-primary:hover {
  background-color: #007F00;
  border-color: #007F00;
}

#dlte-btn {
  display: inline;
}
