body {
  background-color: pink;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.jumbotron {
  background-color: purple;
  border-radius: 0;
}

.header-display {
  font-family: 'Poiret One', cursive;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

.form-display {
  font-family: 'Poiret One', cursive;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

footer, h4, .navbar, .btn, .form-control {
  font-family: 'Kavivanar', cursive;
}

.btn-primary {
  background-color: #FFD700;
  border-color: #FFD700;
}

.btn-primary:hover {
  background-color: #007F00;
  border-color: #007F00;
}
