body {
  background-color: pink;
  color: white;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

#signin {
  background-color: red;
  flex: 1;
}

#signin h3 {
  color: green;
  text-align: center;
}

#signup {
  background-color: blue;
  flex: 1;
}

#index {
  display: flex;
  jusify-content: flex-end;
  padding: .25em;
}

#index > label {
    padding: .5em 1em .5em 0;
    flex: 1;
}

#index > input {
    flex: 2;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.jumbotron {
  background-color: purple;
  border-radius: 0;
}

.header-display {
  font-family: 'Poiret One', cursive;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

.form-display {
  font-family: 'Poiret One', cursive;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

footer, h4, .navbar, .btn, .form-control {
  font-family: 'Kavivanar', cursive;
}

.btn-primary {
  background-color: #FFD700;
  border-color: #FFD700;
}

.btn-primary:hover {
  background-color: #007F00;
  border-color: #007F00;
}
