<%- include('../partials/header') %>
<div class="jumbotron">
  <h2 class="form-display">Add a Restaurant</h2>
  <form action="/restaurants" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="Restaurant name">
      <br>
      <input type="text" class="form-control" name="image" placeholder="Image URL">
      <br>
      <input type="text" class="form-control" name="description" placeholder="Description">
    </div>
    <button type="submit" class="btn btn-primary">Add a restaurant</button>
  </form>
</div>
<%- include('../partials/footer') %>
